input {
  border: none;
  outline: none;
  padding: 10px 25px;
  border-radius: 25px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
}
.submit-button {
  background-color: #fff;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: 500;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: white;
  border-radius: 25px;
  padding: 7px 15px;
  margin-top: 1rem;
}

.close-button {
  height: 30px;
  width: 30px;
  border-radius: 25px;
  padding: 10px;
  background-color: blueviolet;
  color: white;
  font-weight: 500;
  font-size: 10px;
}

body {
  background: blueviolet;
}
